<!DOCTYPE html>

<html>
<head>
    <title>About</title>
     <link rel="icon" href="/img/thoitiet.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This was created be NAM</p>
    <img class="nambeo" src="./img/z3481722009766_4cd5c695952bd474f15e5c8da4a80926 copy.jpg">
    <p>MYLU AN CUT</p>
    </div>

    {{>footer}}
</body>

</html>